// Body
$body-bg: #282928;
$body-text: #a9cc91;
$body-border: 1px solid $body-text;

// Typography
$font-family: 'Roboto Condensed', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Borders
