.main-nav {
  border-bottom: $body-border;
  border-right: $body-border;
  padding-top: 2px;

  a {
    color: $body-text;
  }
}

.nav-link {
  border: $body-border;
  display: block;
  padding: 3px 10px;
  text-align: center;
  margin: 2px;

  &:first-child {
    margin-top: 0;
  }

  &.active {
    background-color: $body-text;
    color: $body-bg;
  }
}

.user-nav {
  border-bottom: $body-border;
  text-align: right;
  width: 100%;

  a {
    color: $body-text;
    margin-right: 10px;
  }
}
